# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Database
*.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.streamlit


# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db